body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-image: linear-gradient(rgba(57, 57, 62, 0.65), rgba(48, 47, 52, 0.65)), url(icons/dashboardback.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

header {
    background-color: #020f47b0; /* Semi-transparent background */
    color: white;
    border: 2px solid rgb(8, 1, 26);
    padding: 10px;
    text-align: center;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
}

h1 {
    margin: 0;
    font-size: 24px;
}

.button-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 80px; /* Space for the fixed header */
}

.square-button {
    position: relative;
    width: 250px;
    height: 250px;
    border: none;
    padding: 0;
    overflow: hidden;
    border: 2px solid rgba(17, 1, 27, 0.1);
    border-radius: 8px;
    box-shadow: 0 14px 15px rgba(149, 149, 158, 0.2);
    margin: 30px 48px;
    background-color: transparent;
    cursor: pointer;
    transition: all 0.3s ease;
    border: 2px solid rgba(255, 255, 255, 0.8); /* Border color on hover */
    box-shadow: 0 20px 25px rgba(255, 255, 255, 0.3); /* Enhanced shadow effect */
}

.square-button:hover {
    border: 2px solid rgba(40, 20, 192, 0.8); /* Border color on hover */
    box-shadow: 0 20px 25px rgba(255, 255, 255, 0.3); /* Enhanced shadow effect */
}

.square-button img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: brightness(70%);
}

.overlay-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 26px;
    color: white;
    font-weight: bold;
    text-shadow: 2px 2px 6px rgba(0, 0, 0, 0.8);
    pointer-events: none;
}

.square-button a {
    display: block;
    width: 100%;
    height: 100%;
    text-decoration: none;
}

@media (max-width: 600px) {
    .button-container {
        flex-direction: column;
    }

    .square-button {
        width: 180px;
        height: 180px;
        margin: 20px 0;
    }

    .overlay-text {
        font-size: 18px;
    }
}
